In [2]:
import os
os.getcwd()

'K:\\Python\\Python-basics\\Day-2'

In [3]:
mydist = {'apple':100,'orange':102,'kiwi':55}

In [6]:
print(mydist['kiwi'])

55

In [7]:
mydist['apple']

100

In [8]:
k={'k1':256,'k2':[2,5,6],'k3':{'inkey':255}}

In [9]:
k['k1']

256

In [10]:
k['k2']

[2, 5, 6]

In [11]:
k['k2'][0]

2

In [12]:
k['k3']

{'inkey': 255}

In [13]:
k['k3']['inkey']

255

In [14]:
k.keys()

dict_keys(['k1', 'k2', 'k3'])

In [16]:
k.values()

dict_values([256, [2, 5, 6], {'inkey': 255}])

In [17]:
k.items()

dict_items([('k1', 256), ('k2', [2, 5, 6]), ('k3', {'inkey': 255})])

#Tuples

In [18]:
t=(1,5,6)

In [19]:
t

(1, 5, 6)

In [20]:
type(t)

tuple

In [21]:
len(t)

3

In [22]:
t[0]

1

In [23]:
t[0]=8

TypeError: 'tuple' object does not support item assignment

In [24]:
pwd

'K:\\Python\\Python-basics\\Day-2'

In [25]:
%%writefile myfile.txt
hello there

Writing myfile.txt

In [27]:
myfile=open('myfile.txt')

In [28]:
myfile.read()

'hello there\n'

In [29]:
myfile.read()

''

In [30]:
myfile.seek(0)

0

In [31]:
myfile.read()

'hello there\n'

In [32]:
myfile.read()

''

In [33]:
myfile.seek(1)

1

In [34]:
myfile.read()

'ello there\n'

In [35]:
myfile.read()

''

In [36]:
myfile.seek(0)

0

In [37]:
myfile.readlines()

['hello there\n']

In [38]:
with open('myfile.txt',mode='r') as f:
    print(f.read())

hello there

In [39]:
with open('myfile.txt',mode='a') as f:
    f.write('tacos taste')

In [42]:
with open('myfile.txt',mode='r') as f:
    print(f.read())

hello there
tacos taste

In [43]:
with open('good.txt',mode='w') as f:
    f.write('dooms day')

In [44]:
with open('good.txt',mode='r') as f:
    print(f.read())

dooms day

In [46]:
import mysql.connector as sql

ModuleNotFoundError: No module named 'mysql'

In [47]:
import mysql.connector as sql

In [59]:
db=sql.connect(
host="localhost",
    user="root",
    passwd="root",
    database="kannan",
    use_pure=True
)
print(db)

<mysql.connector.connection.MySQLConnection object at 0x000000A2AEF57A48>

In [60]:
db.commit()
mycursor = db.cursor()

In [61]:
mycursor.execute("select * from task_table limit 10")

for x in mycursor:
    print(x)

(1, 'a', '1002', '1102', '20')
(2, 'b', '1003', '1103', '30')
(3, 'a', '1005', '1105', '50')
(4, 'a', '1006', '1106', '60')
(5, 'b', '1007', '1107', '80')
(6, 'b', '1008', '1108', '90')
(7, 'd', '1009', '1109', '75')
(8, 'a', '1010', '1110', '65')

Statements

In [83]:
eric = 100
PB = 5

if eric == 100:
    print(eric) 
elif PB == 50:
        print(PB)
else:
    print("Nothing...")

100

For loop

In [88]:
x = [1,2,3,4,5,6,7,8,9,10]

In [89]:
for y in x:
    print(y)

1
2
3
4
5
6
7
8
9
10

In [94]:
for y in x:
    if y % 2 == 0:
        print(f'Even number:{y}')
    else:
        print(f'Odd number: {y}')

Odd number: 1
Even number:2
Odd number: 3
Even number:4
Odd number: 5
Even number:6
Odd number: 7
Even number:8
Odd number: 9
Even number:10

In [98]:
num = 0
for y in x:
    num = y + num
    print(num)

1
3
6
10
15
21
28
36
45
55

In [117]:
a = [1, 2, 3, 4, 5] 
  
for x in a:
    print(x, end=' ')

1 2 3 4 5

In [118]:
f = [(1,2),(3,4),(5,6),(7,8)]

In [119]:
for tpl in f:
    print(tpl)

(1, 2)
(3, 4)
(5, 6)
(7, 8)

In [122]:
for a,b in f:
    print(b)

2
4
6
8

In [125]:
d = {'k1':1,'k2':2,'k3':3}

In [131]:
for items,iem in d.items():
    print(items)

k1
k2
k3

In [156]:
i = 5

In [157]:

if 0 < i:
    for k in range(i):
        print('*', end=' ')

i = i-1

* * * * *

In [194]:
for i in range(0,5):
    for j in range(0,i+1):
        print("*",end="")
    print()

*
**
***
****
*****